.grid-item {
    /* display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start; */
    font-size: 1em;
    color: #3E3B3F;

    border-color: #C8C0CA;
    border-style: solid;
    word-break: break-word;
    padding: 0.5em;
}

.note-card-heading__container {
    display: flex;
}

.pin_note {
    margin-left: auto;
    opacity: 0;
}
.grid-item.show_tools .pin_note {
    opacity: 1;
} 

.grid-item > :nth-child(1) {flex-grow: 1;}
.grid-item > :nth-child(2) {
    flex-grow: 3;
    height: 80%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.grid-item > :nth-child(3) {
    flex-grow: 1;
    height: 20%;
}

.grid-item.short {
    grid-row: span 2;
    flex-basis: 20px;
}

.grid-item.tall {
    grid-row: span 3;
}

.grid-item.taller {
    grid-row: span 4;
}

.grid-item.tallest {
    grid-row: span 5;
}
  
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }