.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: flex-start;

    /* background-color: #E8E0EC; */
    color: #3E3B3F;
}

.sidebar-section {
    /* height: 100vh; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: flex-start;

    border-bottom: #716874;
    /* border-bottom-style: solid; */
}

.sidebar-section div {
    vertical-align: middle;
}